<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Add Players</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <ul class="nav nav-pills">
        <li><a href="/players">All Players</a></li>
        <li class="active"><a href="/add-player">Add New Player</a></li>
      </ul>
      <h2>Add Players</h2>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="First Name">
      </div>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Last Name">
      </div>
      <div class="input-group">
        <span class="input-group-addon">@</span>
        <input type="text" class="form-control" placeholder="Email">
      </div>
      <div class="input-group">
        <input type="password" class="form-control" placeholder="password">
      </div>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Mobile">
      </div>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Wechat">
      </div>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Favorite Position">
      </div>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Endurance">
      </div>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Speed">
      </div>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Dribble">
      </div>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Pass">
      </div>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Defense">
      </div>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Shoot">
      </div>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Strength">
      </div>
    </div>
  </body>
</html>
