<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Group Players - Football Club Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.1.0.js"></script>
</head>
<body>
    <div data-role="page">
        <div data-role="header">
            <h1>Group Players</h1>
        </div>
        <div role="main" class="ui-content">
            <% for(var i = 0; i < groups.length; i++) {%>
            <div data-role="collapsible" data-inset="false">
                <h4>Group Plan <%= i %></h4>
                <ul data-role="listview" data-inset="true" data-divider-theme="a">
                <% for(var j = 0; j < groups[i].length; j++) {%>
                    <li data-role="list-divider">Team <%= j %></li>
                    <% for(var k = 0; k < groups[i][j].length; k++) {%>
                    <li><%= groups[i][j][k].firstName + " " + groups[i][j][k].lastName + " " + groups[i][j][k].chsName + "(" + groups[i][j][k].latestOverallAbility + ")"%></li>
                    <% } %>
                <% } %>
                </ul>
            </div>
            <% } %>
        </div>
        <div data-role="footer">
            <div data-role="navbar">
                <ul>
                    <li><a href="/players" data-icon="grid" class="ui-btn-active" data-prefetch="true">Players</a></li>
                    <li><a href="/add-player" data-icon="plus" data-prefetch="true">Add Player</a></li>
                    <li><a href="#" data-icon="gear">Setup</a></li>
                </ul>
            </div>
        </div>
        <script>
        (function() {
        })();
        </script>
    </div>
</body>
</html>