<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Players - Football Club Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>
</head>
<body>
    <div data-role="page">
        <div data-role="header">
            <h1>Players</h1>
        </div>
        <div role="main" class="ui-content">
            <table data-role="table" id="player-table" data-mode="reflow" class="ui-responsive">
              <thead>
                <tr>
                  <th data-priority="1">Number</th>
                  <th data-priority="persist">Name</th>
                  <th data-priority="2">Overall Ability</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i = 0; i < players.length; i++) {%>
                <tr>
                  <th><%= players[i].number %></th>
                  <td><a href="/add-player/<%= players[i].id %>" data-rel="external"><%= players[i].firstName + " " + players[i].lastName + " " + players[i].chsName %></a></td>
                  <td><%= players[i].latestOverallAbility %></td>
                </tr>
                <% } %>
              </tbody>
            </table>
        </div>
        <div data-role="footer">
            <div data-role="navbar">
                <ul>
                    <li><a href="/players" data-icon="grid" class="ui-btn-active">Players</a></li>
                    <li><a href="/add-player" data-icon="plus">Add Player</a></li>
                    <li><a href="#" data-icon="gear">Setup</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>